*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    font-family:
    "Microsoft YaHei",
    Arial,
    sans-serif;

    background:#07111f;

    color:white;

    line-height:1.8;

}




/* 顶部 */

.hero{

height:100vh;

display:flex;

align-items:center;

justify-content:center;

text-align:center;


background:

linear-gradient(
135deg,
#07111f,
#173b7a,
#2563eb
);


}




.hero-content h1{


font-size:80px;

letter-spacing:10px;

}



.hero-content h2{

font-size:30px;

margin-top:10px;

opacity:.8;

}



.hero-content p{

font-size:28px;

margin:30px;

}



button{


padding:15px 40px;

border:none;

border-radius:30px;

background:#ffffff;

color:#123;

font-size:18px;

cursor:pointer;

transition:.3s;


}



button:hover{


transform:scale(1.1);


}




section{


padding:80px 8%;


}



section h2{


font-size:42px;

margin-bottom:40px;

border-left:8px solid #3b82f6;

padding-left:20px;


}




/* 卡片 */


.cards{


display:grid;

grid-template-columns:
repeat(auto-fit,minmax(260px,1fr));

gap:30px;


}



.card{


background:

rgba(255,255,255,0.08);


border-radius:20px;


padding:30px;


backdrop-filter:blur(10px);


border:1px solid rgba(255,255,255,.15);


transition:.4s;


}



.card:hover{


transform:
translateY(-10px);


background:
rgba(255,255,255,.15);


}



.card h3{


font-size:25px;

color:#60a5fa;

margin-bottom:15px;


}






/* 标签 */


.tags{


display:flex;

flex-wrap:wrap;

gap:20px;


}



.tags span{


padding:15px 25px;

background:#111c35;

border-radius:30px;

border:1px solid #2563eb;


font-size:18px;


}







/* 时间线 */


.timeline{


border-left:
3px solid #3b82f6;


padding-left:40px;


}



.timeline div{


margin-bottom:50px;


}



.timeline h3{


color:#60a5fa;

font-size:28px;


}







/* 足球档案 */


.football{


background:

linear-gradient(
135deg,
#111827,
#1e40af
);


padding:40px;

border-radius:25px;


font-size:20px;


}







/* 图片墙 */


.gallery{


display:grid;


grid-template-columns:

repeat(auto-fit,minmax(220px,1fr));


gap:25px;


}



.gallery img{


width:100%;


height:300px;


object-fit:cover;


border-radius:20px;


transition:.4s;


box-shadow:

0 15px 40px rgba(0,0,0,.4);


}




.gallery img:hover{


transform:

scale(1.05);


}









/* 数据 */


.stats{


display:grid;

grid-template-columns:

repeat(auto-fit,minmax(200px,1fr));


gap:25px;


}



.stats div{


background:#111827;


padding:35px;


border-radius:20px;


text-align:center;


}



.stats h3{


color:#60a5fa;


}



.stats p{


font-size:45px;


font-weight:bold;


}









.contact{


background:#2563eb;

color:white;


}







footer{


text-align:center;


padding:40px;


color:#94a3b8;


}








/* 手机适配 */


@media(max-width:700px){



.hero-content h1{


font-size:45px;


}



.hero-content p{


font-size:20px;


}



section h2{


font-size:32px;


}



.gallery img{


height:240px;


}



}
